.colorstrip2{
    width: 100%; 
    height: 300px;
    border-style: solid;
    border-color: rgb(231, 187, 205);
    background-color: rgb(231, 187, 205);
}
#Icon-pay{
    width: 20%;
    float: left;
    position: absolute;
    left:25px;
    top: 2612px;
   }
   #Icon-visa{
    width: 20%;
    float: left;
    position: absolute;
    left:70px;
    top: 2612px;
   }
   #Icon-master{
    width: 20%;
    float: left;
    position: absolute;
    left:115px;
    top: 2612px;
   }
   #Icon-pay1{
    width: 20%;
    float: left;
    position: absolute;
    left:25px;
    top: 2388px;
   }
   #Icon-visa1{
    width: 20%;
    float: left;
    position: absolute;
    left:70px;
    top: 2388px;
   }
   #Icon-master1{
    width: 20%;
    float: left;
    position: absolute;
    left:115px;
    top: 2388px;
   }
#Icon-face{
    width: 20%;
    float: left;
    position: absolute;
    left:560px;
    top: 2611px;
   }
   #Icon-insta{
    width: 20%;
    float: left;
    position: absolute;
    left:605px;
    top: 2611px;
}
   #Icon-pin{
    width: 20%;
    float: left;
    position: absolute;
    left:650px;
    top: 2611px;
   }
   #Icon-face1{
    width: 20%;
    float: left;
    position: absolute;
    left:560px;
    top: 2388px;
   }
   #Icon-insta1{
    width: 20%;
    float: left;
    position: absolute;
    left:605px;
    top: 2388px;
}
   #Icon-pin1{
    width: 20%;
    float: left;
    position: absolute;
    left:650px;
    top: 2388px;
   }
    

